/* the styles for the elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    height: 100%;
    background-image: url("../images/background.jpg");
}

body {
    position: relative;
    background: black;
    font-family: sans-serif;
    font-size: 100%;
    color: red;
    max-width: 960px;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: -5px -5px 15px 5px gray;
    border-radius: 10px;
}

header h1 a {
    color: white;
}

header h1 {
    text-align: center;
    margin: .5em .75em;
}

header p {
    color: white;
}


/* the styles for links */

a:link,
a:visited {
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}


/* the styles for the header */

header {}

header img {
    padding: 0 1em 0 0;
    float: left;
    max-width: 200px;
    width: 100%;
}

header h2 {
    padding: 2em 0 .25em 0;
}

header h3 {
    padding: .5em 0 .25em 0;
}


/* text shadow class */

.shadow {
    text-shadow: 2px 2px 2px #5d5d5d;
}


/* the styles for the navigation menu */

#nav_menu {
    clear: both;
}

#nav_menu ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul li {
    float: left;
    width: 25%;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 120%;
    background-color: #228B22;
    color: white;
    font-weight: bold;
}

#nav_menu a:hover {
    background-color: #00FF00;
    color: black;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li a {
    text-align: left;
    padding: .5em;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    clear: both;
    display: block;
}


/* the styles for the main content */

main {
    clear: left;
}


/* the styles for the section */

section {
    width: 70%;
    float: right;
    padding: 0 2.5% 20px 2.5%;
}

section p {
    font: 110%;
    line-height: 2;
}


/* the styles for the aside */

aside {
    width: 25%;
    float: right;
    background-color: lightyellow;
    border-radius: 5px;
    box-shadow: 3px 3px 7px gray;
    margin: 0 0 20px 1em;
    padding: .75em;
    font-weight: bold;
}

aside p {
    padding-bottom: 1.5em;
}

#bottombuffer {
    height: 100px;
    padding-bottom: 100px;
}


/* the styles for the footer */

footer {
    background-color: black;
    clear: both;
    border-top: 3px solid #000000;
    /*	position: fixed;    */
    /*	bottom: 0;			*/
    max-width: 960px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

footer p {
    text-align: center;
    color: white;
    font-size: 80%;
    font-variant: small-caps;
    padding: 2em 0;
}


/* hide the slicknav in large-screen view */

.slicknav_menu {
    display: none;
}


/* tablet portrait to standard 960 */

@media only screen and (max-width: 959px) {
    body,
    aside {
        box-shadow: none;
        border-radius: 0;
    }
    footer {
        border-radius: 0;
    }
}


/* mobile landscape to tablet portrait */

@media only screen and (max-width: 767px) {
    header img {
        float: none;
    }
    header {
        text-align: center;
    }
    header h2,
    header h3 {
        padding: 0 0 .25em;
    }
    section,
    aside {
        float: none;
        width: 99%;
        margin: 0 auto;
        padding: .5em;
    }
    /* hide the navigation menu */
    #nav_menu {
        display: none;
    }
    /* and replace it with the slicknav menu */
    .slicknav_menu {
        display: block;
        text-align: left !important;
        background-color: #228B22 !important;
    }
}


/* mobile portrait to mobile landscape */

@media only screen and (max-width: 479px) {
    body {
        font-size: 90%;
    }
}